pipeline/Load taxi zone.json
{
	"name": "Load taxi zone",
	"properties": {
		"activities": [
			{
				"name": "Get dimensions to load into dw",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": "SELECT * FROM [operation].[MetadataTableControl] WHERE GroupName = 'NYC Ride Analysis' AND GroupLoad = 'Load Dimensions'  ",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_Synapse_Lookup",
						"type": "DatasetReference",
						"parameters": {
							"ServerName": {
								"value": "@pipeline().parameters.ServerName",
								"type": "Expression"
							},
							"DatabaseName": {
								"value": "@pipeline().parameters.DatabaseName",
								"type": "Expression"
							},
							"UserName": {
								"value": "@pipeline().parameters.UserName",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Load files into Synapse - dw",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get dimensions to load into dw",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get dimensions to load into dw').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Ingest location into Synapse",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "SqlDWSink",
									"preCopyScript": {
										"value": "@{concat('TRUNCATE TABLE ',item().DestinationControl2,'.',item().DestinationControl3)}",
										"type": "Expression"
									},
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_ADL2_NYCRideAnalysis_csv",
									"type": "DatasetReference",
									"parameters": {
										"StorageAccount": {
											"value": "@item().SourceControl1",
											"type": "Expression"
										},
										"ContainerName": {
											"value": "@item().SourceControl2",
											"type": "Expression"
										},
										"FolderName": {
											"value": "@item().SourceControl3",
											"type": "Expression"
										},
										"FileName": {
											"value": "@item().SourceControl4",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_Synapse_CopyData",
									"type": "DatasetReference",
									"parameters": {
										"ServerName": {
											"value": "@pipeline().parameters.ServerName",
											"type": "Expression"
										},
										"DatabaseName": {
											"value": "@item().DestinationControl1",
											"type": "Expression"
										},
										"UserName": {
											"value": "@pipeline().parameters.UserName",
											"type": "Expression"
										},
										"SchemaName": {
											"value": "@item().DestinationControl2",
											"type": "Expression"
										},
										"TableName": {
											"value": "@item().DestinationControl3",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"ServerName": {
				"type": "string",
				"defaultValue": "ServerName"
			},
			"DatabaseName": {
				"type": "string",
				"defaultValue": "DatabaseName"
			},
			"UserName": {
				"type": "string",
				"defaultValue": "UserName"
			}
		},
		"folder": {
			"name": "NYC Data Transformation"
		},
		"annotations": [],
		"lastPublishTime": "2023-03-07T12:01:52Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}