DP-203/pipeline-demo/pipeline/Load from web to ADL2.json
{
	"name": "Load from web to ADL2",
	"properties": {
		"activities": [
			{
				"name": "Get files to load into blob",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": "SELECT * FROM [operation].[MetadataTableControl] WHERE GroupName = 'NYC Ride Analysis'\nAND GroupLoad = 'HTTP to ADL2 - 1'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_Synapse_Lookup",
						"type": "DatasetReference",
						"parameters": {
							"ServerName": {
								"value": "@pipeline().parameters.ServerName",
								"type": "Expression"
							},
							"DatabaseName": {
								"value": "@pipeline().parameters.DatabaseName",
								"type": "Expression"
							},
							"UserName": {
								"value": "@pipeline().parameters.UserName",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Get files to load into blob - 2",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": "SELECT * FROM [operation].[MetadataTableControl] WHERE GroupName = 'NYC Ride Analysis'\nAND GroupLoad = 'HTTP to ADL2 - 2'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_Synapse_Lookup",
						"type": "DatasetReference",
						"parameters": {
							"ServerName": {
								"value": "@pipeline().parameters.ServerName",
								"type": "Expression"
							},
							"DatabaseName": {
								"value": "@pipeline().parameters.DatabaseName",
								"type": "Expression"
							},
							"UserName": {
								"value": "@pipeline().parameters.UserName",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Load files into blob",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get files to load into blob",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get files to load into blob').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Ingest files into blob",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET"
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_NYC_Cab_Repository",
									"type": "DatasetReference",
									"parameters": {
										"FileAddress": {
											"value": "@item().SourceControl1",
											"type": "Expression"
										},
										"FileName": {
											"value": "@item().SourceControl2",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_ADL2_NYCRideAnalysis_parquet",
									"type": "DatasetReference",
									"parameters": {
										"StorageAccount": {
											"value": "@item().DestinationControl1",
											"type": "Expression"
										},
										"ContainerName": {
											"value": "@item().DestinationControl2",
											"type": "Expression"
										},
										"FolderName": {
											"value": "@item().DestinationControl3",
											"type": "Expression"
										},
										"FileName": {
											"value": "@item().DestinationControl4",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Load files into blob - 2",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get files to load into blob - 2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get files to load into blob - 2').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Ingest files into blob - 2",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET"
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_NYC_Cab_Repository2",
									"type": "DatasetReference",
									"parameters": {
										"FileAddress": {
											"value": "@item().SourceControl1",
											"type": "Expression"
										},
										"FileName": {
											"value": "@item().SourceControl2",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_ADL2_NYCRideAnalysis_parquet",
									"type": "DatasetReference",
									"parameters": {
										"StorageAccount": {
											"value": "@item().DestinationControl1",
											"type": "Expression"
										},
										"ContainerName": {
											"value": "@item().DestinationControl2",
											"type": "Expression"
										},
										"FolderName": {
											"value": "@item().DestinationControl3",
											"type": "Expression"
										},
										"FileName": {
											"value": "@item().DestinationControl4",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"ServerName": {
				"type": "string",
				"defaultValue": "ServerName"
			},
			"DatabaseName": {
				"type": "string",
				"defaultValue": "DatabaseName"
			},
			"UserName": {
				"type": "string",
				"defaultValue": "UserName"
			}
		},
		"folder": {
			"name": "NYC Data Transformation"
		},
		"annotations": [],
		"lastPublishTime": "2023-03-28T13:04:06Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}